<html>
<head>
    <title>IndexHome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <h1 class="h1">Hello World</h1>
    <p></p>
    <div class="btn-group container" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary" onclick="location.href='/signup'">SignUp</button>
        <button type="button" class="btn btn-outline-primary"  onclick="location.href='/select'">Update</button>
        <button type="button" class="btn btn-outline-primary" onclick="location.href='/delete'">Delete</button>
    </div>
</body>
</html>
