<html>
<head>
    <title>SelectIndex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<h1 class="text-primary">Select</h1>
<form action="/select" method="Post">
    <select class="form-select" aria-label="Default select example" name="userID">
        <option selected>Select A User</option>
        {{range.res}}
        <option value={{.Id}}>{{.User_name}}</option>
        {{end}}}
    </select>
    <button type="submit" class="btn btn-primary">Select</button>
    <button type="button" class="btn btn-outline-success" onclick="location.href='/index'">Home</button>
</form>
</body>
</html>
